<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <title>Document</title>

</head>

<body>
    <!-- navbar -->
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                 <div class="row">
                    <div class="col-md-6 col-12 mx-auto main_header_right">
                        <figure>
                            <img src="images/Me.jpg" alt="Ayush" class="img-fluid" title="Ayush Prakash">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 mx-auto main_header_left">
                        <p style="font-size: 1.6rem;">Welcome to the Weather App</p>
                        <h1>I am  a<span class="text_color"> Mern Stack </span>Developer</h1>
                        <a href="https://www.linkedin.com/in/ayush-prakash-2bb65122b/"><button>About Me </button></a>
                    </div>
                    <!-- right side div -->
                </div>
            </div> 
        </div>
    </div>

    <!-- footer  -->
    {{>footer }}


</body>

</html>